.frame {
  /* background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center; */
  /* width: 100%; */
  display: flex;
  flex-flow: column wrap;
}

.frame .overlap-wrapper {
  background-color: #ffffff;
  /* height: flex;
  width: flex; */
  display: flex;
  flex-flow: column wrap;
}

.frame .overlap {
  /* height: 2180px; */
  /* left: -5px;
  position: relative;
  width: 1634px; */
  display: flex;
  flex-flow: column wrap;
  
}

.frame .rectangle {
  background-color: #c4c4c4;
  /* height: 2084px; */
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.frame .rosenwald-library {
  /* height: 1153px; */
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1602px;
}

.frame .rectangle-2 {
  background-color: #0d0d0d99;
  height: 1164px;
  left: 5px;
  mix-blend-mode: darken;
  opacity: 0.8;
  /* position: absolute;
  top: 2px;
  width: 1602px; */
}

.frame .FISK-LOGO {
  height: 81px;
  right: 20px;
  position: absolute;
  top: 31px;
  
align-self: flex-top;
  margin: 10px 10px 10px 0px;
}

.ROSENWALD-digital {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 72px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  margin-top: 45px;
  margin-left: 50px;
  width: 592px;
}

.frame .span {
  font-weight: 700;
}

.frame .text-wrapper-6 {
  font-family: "Lora", Helvetica;
  font-size: 64px;
  font-style: italic;
  /* margin-left: 40px; 
}

.frame .rectangle-3 {
  background-color: #000000f5;
  /* height: 1014px;
  left: 3px; */
  position: absolute;
  top: 1166px;
  width: 1604px;
}
/* 
.frame .bottom-bar {
  height: 146px;
  left: 2px;
  position: absolute;
  top: 2034px;
  width: 1632px;
}

.frame .overlap-group {
  background-color: #ffc107cc;
  height: 146px;
  position: relative;
  width: 1602px;
}

.frame .text-wrapper-7 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 236px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  width: 245px;
}

.frame .text-wrapper-8 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 553px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  width: 245px;
}

.frame .overlap-2 {
  height: 42px;
  left: 822px;
  position: absolute;
  top: 51px;
  width: 245px;
}

.frame .text-wrapper-9 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 245px;
}

.frame .text-wrapper-10 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 245px;
}

.frame .text-wrapper-11 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1091px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  width: 245px;
}

.frame .text-wrapper-12 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 553px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76px;
  width: 245px;
}

.frame .text-wrapper-13 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 236px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76px;
  width: 245px;
}

.frame .text-wrapper-14 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 236px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 245px;
}

.frame .overlap-3 {
  height: 128px;
  left: 23px;
  position: absolute;
  top: 7px;
  width: 188px;
}

.frame .element-avenue-n {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 188px;
}

.frame .img {
  height: 87px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}

.frame .text-wrapper-15 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 553px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 142px;
}

.frame .text-wrapper-16 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 822px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 245px;
}

.frame .text-wrapper-17 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1091px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 245px;
}

.frame .text-wrapper-19 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1439px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 105px;
}


.frame .group {
  height: 588px;
  left: 0;
  position: absolute;
  top: 961px;
  width: 1615px;
}

.frame .overlap-4 {
  height: 588px;
  position: relative;
  width: 1607px;
}

.frame .overlap-group-wrapper {
  height: 587px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1607px;
}

.frame .overlap-5 {
  height: 587px;
  position: relative;
}

.frame .rectangle-4 {
  background-color: #080703cc;
  height: 539px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1607px;
}

.frame .group-2 {
  height: 452px;
  left: 18px;
  position: absolute;
  top: 90px;
  width: 1577px;
}

.frame .group-wrapper {
  height: 449px;
  left: 519px;
  position: absolute;
  top: 4px;
  width: 526px;
}

.frame .group-3 {
  height: 449px;
  position: relative;
}

.frame .rosenwald {
  height: 369px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 524px;
}

.frame .rectangle-wrapper {
  background-color: #000000;
  height: 74px;
  left: 0;
  position: absolute;
  top: 375px;
  width: 526px;
}

.frame .rectangle-5 {
  background-color: #ffc107cc;
  height: 73px;
}

.frame .group-4 {
  height: 448px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 512px;
}

.frame .group-5 {
  height: 448px;
}

.frame .group-6 {
  height: 448px;
  position: relative;
  width: 512px;
}

.frame .rosenwald-school {
  height: 368px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 510px;
}

.frame .overlap-group-2 {
  background-color: #000000;
  height: 73px;
  left: 0;
  position: absolute;
  top: 374px;
  width: 512px;
}

.frame .rectangle-6 {
  background-color: #ffc107cc;
  height: 72px;
}

.frame .group-7 {
  height: 452px;
  left: 1053px;
  position: absolute;
  top: 4px;
  width: 522px;
}

.frame .group-8 {
  height: 451px;
  position: relative;
}

.frame .rosenwald-2 {
  height: 370px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 521px;
}

.frame .overlap-group-3 {
  background-color: #000000;
  height: 74px;
  left: 0;
  position: absolute;
  top: 377px;
  width: 523px;
}

.frame .text-wrapper-20 {
  color: #000000f5;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 629px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 531px;
  width: 363px;
}

.frame .school-buildings {
  height: 29px;
  left: 95px;
  position: absolute;
  top: 537px;
  width: 257px;
}

.frame .text-wrapper-21 {
  color: #000000f5;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 1211px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 529px;
  width: 363px;
} */

/* .frame .text-wrapper-22 {
  -webkit-text-stroke: 1px #000000;
  color: #ffc107;
  font-family: "Montserrat", Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 87px;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 26px;
  width: 342px;
} */

/* .frame .group-9 {
  height: 660px;
  left: 31px;
  position: absolute;
  top: 288px;
  width: 1545px;
}

.frame .group-10 {
  height: 408px;
  left: 977px;
  position: absolute;
  top: 133px;
  width: 572px;
}

.frame .overlap-group-4 {
  background-color: #0000009e;
  border-radius: 48px;
  height: 408px;
  position: relative;
  width: 568px;
}

 
.frame .overlap-6 {
  height: 221px;
  left: 60px;
  position: absolute;
  top: 104px;
  width: 472px;
} */

/* .frame  */
/* 
.frame .button-secondary-instance {
  background-color: #142c6ad9 !important;
  height: 71px !important;
  left: 133px !important;
  position: absolute !important;
  top: 150px !important;
  width: 164px !important;
}

.frame .design-component-instance-node {
  color: #ffffff !important;
  font-size: 24px !important;
  height: 33px !important;
  line-height: 32.3px !important;
  top: 19px !important;
  width: 131px !important;
} */

/* .frame .advanced-search {
  background-image: url(/src/static/img/advanced-search-bar.svg);
  background-color: #0000009e;
  background-size: 100% 100%;
  height: 660px;
  left: 0;
  position: absolute;
  top: 0;
  width: 946px;
  border-radius: 10px;
} */
/* 
.frame .overlap-7 {
  height: 409px;
  left: 508px;
  position: absolute;
  top: 195px;
  width: 320px;
}

.frame .dropdown-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 143px;
  justify-content: center;
  left: 2px;
  position: absolute;
  top: 0;
  width: 316px;
}

.frame .header {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 2.48px solid;
  border-color: var(--bluesgray-2);
  border-radius: 5px;
  display: flex;
  height: 88.97px;
  justify-content: space-between;
  margin-left: -2.48px;
  margin-right: -2.48px;
  padding: 21.03px 34.41px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.frame .menu-label-instance {
  flex: 0 0 auto !important;
  gap: 19.12px !important;
}

.frame .menu-label-2 {
  margin-top: -1.91px !important;
  white-space: unset !important;
}

.frame .icons-regular {
  height: 38.23px !important;
  position: relative !important;
  width: 38.23px !important;
}

.frame .items-frame {
  align-self: stretch;
  height: 1.91px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.frame .items-list {
  align-items: center;
  background-color: var(--white);
  border-radius: 0px 0px 15.29px 15.29px;
  display: flex;
  flex-direction: column;
  height: 417px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  top: 2px;
  width: 316px;
}

.frame .item-hover {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 21.03px 45.88px;
  position: relative;
  width: 100%;
  z-index: 4;
}

.frame .label-1 {
  height: 34.41px !important;
  width: 86.02px !important;
}

.frame .label-instance {
  height: 35px !important;
  top: -2px !important;
  white-space: unset !important;
}

.frame .item-hover-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 21.03px 45.88px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.frame .label-2 {
  height: 34.41px !important;
  width: 93.67px !important;
}

.frame .item-hover-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 21.03px 45.88px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.frame .item-hover-4 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 21.03px 45.88px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.frame .label-4-instance {
  height: 34.41px !important;
  width: 95.58px !important;
}

.frame .item-hover-5 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 21.03px 45.88px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.frame .dropdown-box-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 152px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 126px;
  width: 320px;
}

.frame .items-list-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 0px 0px 15.29px 15.29px;
  display: flex;
  flex-direction: column;
  height: 417px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  top: 2px;
  width: 320px;
}

.frame .dropdown-box-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 152px;
  justify-content: center;
  left: 2px;
  position: absolute;
  top: 257px;
  width: 318px;
}

.frame .items-list-3 {
  align-items: center;
  background-color: var(--white);
  border-radius: 0px 0px 15.29px 15.29px;
  display: flex;
  flex-direction: column;
  height: 417px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  top: 2px;
  width: 318px;
}

.frame .group-11 {
  height: 458px;
  left: 105px;
  position: absolute;
  top: 110px;
  width: 278px;
}

.frame .div-2 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.frame .text-wrapper-25 {
  color: #00000033;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 190px;
}

.frame .group-12 {
  height: 81px;
  left: 0;
  position: absolute;
  top: 121px;
  width: 278px;
}

.frame .overlap-group-5 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 81px;
  position: relative;
  width: 276px;
}

.frame .text-wrapper-26 {
  color: #000000f5;
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
  width: 206px;
}

.frame .group-13 {
  height: 86px;
  left: 0;
  position: absolute;
  top: 373px;
  width: 278px;
}

.frame .overlap-8 {
  height: 86px;
  position: relative;
  width: 276px;
}

.frame .text-wrapper-27 {
  color: #000000f5;
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
  width: 206px;
}

.frame .group-14 {
  height: 81px;
  left: 0;
  position: absolute;
  top: 246px;
  width: 278px;
}

.frame .text-wrapper-28 {
  color: #000000f5;
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 103px;
}

.frame .input {
  align-items: center;
  background-color: #ffffff;
  border: 0px none;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 88px;
  justify-content: center;
  left: 509px;
  padding: 12px 17px;
  position: absolute;
  top: 103px;
  width: 318px;
}

.frame .s {
  color: #00000080;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}



 
.frame .groupx {
  height: 398px;
  left: 29px;
  position: absolute;
  top: 1523px;
  width: 1551px;
} */
/* 
.frame .group-222 {
  background-image: url(./rosenwald-school1-5-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  left: 1083px;
  position: absolute;
  top: 93px;
  width: 466px;
}

.frame .group-333 {
  background-image: url(./rosenwald-school1-5-4.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  left: 520px;
  position: absolute;
  top: 93px;
  width: 463px;
}

.frame .group-444 {
  background-image: url(./rosenwald-school1-5-5.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  left: 0;
  position: absolute;
  top: 93px;
  width: 447px;
}*/

.frame .text-wrapper-222 {
  -webkit-text-stroke: 1px #000000;
  color: #ffc107;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 66px;
  left: -5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 15px;
  width: 375px;
} 




/* HERE ---------------------------------------------------*/
.container {
  margin-top: 45px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #c4c4c4;
  flex: 1;
}

.mid {
  
  background-color: black;
  flex: 1;
  mix-blend-mode: darken; 
   opacity: 0.8;
   
}

.bottom {
  background-color: black;
  flex: 1;
}

h1 {
  text-align: center;
  font-size: 30px;
  /* color: #fff; */
}

/* p {
  text-align: center;
  font-size: 20px;
} */

.logo-container {
  position: absolute ;
  top: 0;
  right: 0;

  margin-top: 100px;
  margin-left: 50px;
  
}


.logo-img {
  width: 150px; 
  height: 65px;
  /* width: 100px;
  height: 60px; */
}


.rosenwald-header {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 50px;
  /* font-weight: 5000; */
  /* left: 10px; */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  /* width: 592px; */
}

.rosen-span {
  font-weight: 700;
}

 .rosenwald-header-2 {
  /* font-family: "Lora-Italic", Helvetica; */
  font-family: 'Times New Roman', serif;
  font-size: 45px;
  font-style: italic;
  font-weight: 530;
  /* margin-left: 50px; */
  margin-left: 75px; 
}

.container-2 {
  display: flex;
  justify-content: space-between;
  

}

.blue-box {
  /* flex: 1; */
  /* flex-direction: row; */
  

  background-color: #0000009e;
  /* background-size: 100% 100%; */
  height: 500px;

  width: 700px;
  border-radius: 10px;
  margin-top: 230px;
  margin-left: 70px; 
  margin-bottom: 50px;
  /* margin-right: 1000; */
}

.yellow-box {
  /* flex:1; */
  /* flex-direction: column;
   */
  /* order: 2; */
  background-color: #0000009e;
  margin-top: 280px;
  margin-right: 70px; 
  border-radius: 48px;
  height: 408px;
  position: relative;
  width: 568px;
  font-family: "Montserrat", Helvetica;
  
}

.text-wrapper-23 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  /* left: 65px; */
  /* letter-60px: 0; */
  line-height: normal;
  /* position: absolute; */
  /* top: 44px;
  width: 421px; */
  text-align: center;
}

.text-wrapper-24 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  top: 0;

  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 60px;
  
  /* text-align:center; */
}

.text-wrapper-22 {
  -webkit-text-stroke: 1px #000000;
  color: #ffc107;
  font-family: "Montserrat", Helvetica;
  font-size: 36px;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 25px;
  /* height: 87px;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute; */
  text-shadow: 0px 1px 1px #fff;
  /* top: 26px; */
  /* width: 342px; */
}



/* --------------------
Bottom Section
--------------------  */
.bottomx {
  
  display: flex;
  /* margin-top: 20px; */
  background-color: #ffc107;
  padding: 20px;
  justify-content: space-between;
}

.logo {
  margin-bottom: 10px;

}

.logo_address,
.about_stuffs,
.items,
.admin,
.contact {
  align-self: center;
}

.address {
  font-weight: 400;
}

.container-3 {
  display: flex;
  align-self: center;
}


.frame .twitter-icon {
  height: 24px;
  left: 1336px;
  position: absolute;
  top: 33px;
  width: 26px;
}

.frame .insta-logo {
  height: 24px;
  left: 1381px;
  position: absolute;
  top: 33px;
  width: 26px;
}

.frame .line {
  object-fit: cover;
  position: absolute;
  top: 29px;
  width: 1px;

}

 .text-wrapper-18 {
  color: #142c6a;
  font-family: "Montserrat", Helvetica;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;

}

 .p {
  font-family: "Montserrat", Helvetica;
  font-size: 15px;
  
}

/* body {
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 16.5px;
  line-height: 160%;
} */

.advanced_search {
  align-self: center;
  margin-top: 12.5%;
  margin-left: 14.5%;


  /* flex: 1; */
  /* margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 182px; */
  /* display: flex; */
  width: 70%;
}